PORT=3000
APP_MODE=paper
PAPER_TRADING=true
ARC_RPC_URL=
ARC_NATIVE_SYMBOL=ARC
ARC_RPC_TIMEOUT_MS=10000
WALLET_ADDRESS=
MONITORED_TOKENS=BTC,ETH,SOL
# JSON object: {"TOKEN_SYMBOL":"0xChainlinkCompatibleOracle"}
ARC_PRICE_ORACLES={}
X_BEARER_TOKEN=
DISCORD_BOT_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_ADMIN_USER_IDS=
DASHBOARD_URL=http://127.0.0.1:3000
